log_wandb: True

setup:
    dict:
        epochs: 100
        num_accumulation_steps: -1
        log_every: 10

    wandb:
        project: Koopman
        group: TrOCR_Lkis
        name: TrOCR Esposalles Distilling With CTC ONLY GUIDING

data:
    dataset:
        Esposalles:
            _target_: main_lkis.EsposallesDatasetForHtr
            dataset_path: "/data/users/cboned/data/HTR/Esposalles"

    collator:
        train:
            shuffle: True
            batch_size: 64
            pin_memory: True
            num_workers: 8

        val:
            shuffle: True
            batch_size: 64
            pin_memory: False
            num_workers: 8

        test:
            shuffle: False
            batch_size: 1
            pin_memory: False
            num_workers: 0

modeling:
    reduced_model:
        checkpoint_name: "TrOCR_Distilled_Esposalles_K_128_from_CTC_only_guiding"

    processor:
        checkpoint_path: ${modeling.base.checkpoint_path}

    lkis_model:
        koopman_operator_path: "dmd_results/K_K_TrOCR_Esposalles_Koopman_cls_token_out_128_from_ctc_delay_3_new"
        checkpoint_path: "checkpoints/TrOCR_Esposalles_Koopman_cls_token_out_128_ctc_delay_3.pt"
        inputs:
            dim_y: 768
            dim_g_in: 768
            dim_g_out: 128
            delay: 3

    encoder:
        inputs:
            num_hidden_layers: 1
            hidden_size: 768
            num_attention_heads: 12
            intermediate_size: 3072
            image_size: 384
            patch_size: 16
            num_channels: 3

    base:
        checkpoint_path: "checkpoints/TrOCR_Esposalles.pt"
