log_wandb: False

setup:
    dict:
        epochs: 200
        accumulation_steps: -1
        log_every: 10

    wandb:
        project: Koopman
        group: CLASSIFICATION
        name: EDO_DISTILLATION_VIT_ON_CIFAR100_mse_last_step_continue

data:
    dataset:
        name: "cifar100"
        dataset_path: "/data/users/cboned/data/Generic/cifar"

    collator:
        train:
            shuffle: True
            batch_size: 64
            pin_memory: True
            num_workers: 8

        val:
            shuffle: True
            batch_size: 128
            pin_memory: False
            num_workers: 8

        test:
            shuffle: False
            batch_size: 1
            pin_memory: False
            num_workers: 0

modeling:
    type: vit

    teacher:
        checkpoint_path: "checkpoints/Vit_CIFAR100.pt"

    student:
        inputs:
            integration_time: 1
            num_step_evaluations: 24
            solver: euler
            n_classes: 100

        checkpoint_name: "EDO_DISTILLATION_VIT_ON_CIFAR100_mse_last_step_continue"

    base:
        checkpoint_path: "checkpoints/Vit_CIFAR100_first_train_reduced.pt"
