log_wandb: True
infer_from_checkpoint: False

setup:
    dict:
        epochs: 200
        accumulation_steps: -1
        log_every: 10

    wandb:
        project: Koopman
        group: CLASSIFICATION
        name: Vit_ODE_CIFAR100_RK4
data:
    dataset:
        name: "cifar100"
        dataset_path: "/data/users/cboned/cifar"

    collator:
        train:
            shuffle: True
            batch_size: 64
            pin_memory: True
            num_workers: 16

        val:
            shuffle: True
            batch_size: 256
            pin_memory: False
            num_workers: 16

        test:
            shuffle: False
            batch_size: 1
            pin_memory: False
            num_workers: 0

modeling:
    type: vit
    inputs:
        img_size: 224
        patch_size: 16
        in_chans: 3
        num_classes: 100
        embed_dim: 768
        num_heads: 12
        mlp_ratio: 1
        emulate_depth: 12.0
        time_interval: 1.0
        num_eval_steps: 12
        solver: "rk4"

    checkpoint_name: Vit_ODE_CIFAR100_RK4
    base: "checkpoints/Vit_CIFAR100.pt"
