log_wandb: True

setup:
    dict:
        epochs: 300
        accumulation_steps: -1
        log_every: 20

    wandb:
        project: Koopman
        group: CLASSIFICATION
        name: Training_EDO_VIT_ON_cifar100_with_Koopman_euler_with_ce

data:
    dataset:
        name: "cifar100"
        dataset_path: "/data/users/cboned/data/Generic/cifar"

    collator:
        train:
            shuffle: True
            batch_size: 256
            pin_memory: True
            num_workers: 8

        val:
            shuffle: True
            batch_size: 32
            pin_memory: False
            num_workers: 8

        test:
            shuffle: False
            batch_size: 1
            pin_memory: False
            num_workers: 0

modeling:
    type: vit

    checkpoint_name: "Koopman_EDO_NM_VIT_cifar100_first_train_euler_ce"

    base: "/data/users/cboned/checkpoints/Vit_CIFAR100_first_train_reduced.pt"

    koopman:
        operator:
            checkpoint_path: dmd_results/K_VIT_cifa100_cls_token_out_128_delay_3.npy

        model:
            inputs:
                dim_y: 768
                dim_g_in: 768
                dim_g_out: 128
                delay: 3
            checkpoint_path: "checkpoints/VIT_CIFAR100_Koopman_cls_token_out_128_ctc_delay_3.pt"
