log_wandb: True

setup:
    dict:
        epochs: 20
        accumulation_steps: -1
        log_every: 10

    wandb:
        project: Koopman
        group: CLASSIFICATION
        name: Training_ViT_on_CIFAR100

data:
    dataset:
        name: cifar100
        dataset_path: "/data/users/cboned/data/Generic/cifar"

    collator:
        train:
            shuffle: True
            batch_size: 256
            pin_memory: True
            num_workers: 8

        val:
            shuffle: True
            batch_size: 32
            pin_memory: False
            num_workers: 8

        test:
            shuffle: False
            batch_size: 1
            pin_memory: False
            num_workers: 0

modeling:
    type: vit

    checkpoint_name: "Vit_CIFAR100"
