log_wandb: True

setup:
    dict:
        epochs: 300
        accumulation_steps: -1
        log_every: 10

    wandb:
        project: Koopman
        group: CLASSIFICATION
        name: EDO_DISTILLATION_VIT_ON_CIFAR100_Normal_DISTILL

data:
    dataset:
        name: "cifar100"
        dataset_path: "/data/users/cboned/cifar"

    collator:
        train:
            shuffle: True
            batch_size: 64
            pin_memory: True
            num_workers: 8

        val:
            shuffle: True
            batch_size: 128
            pin_memory: False
            num_workers: 8

        test:
            shuffle: False
            batch_size: 1
            pin_memory: False
            num_workers: 0

modeling:
    type: vit

    teacher:
        checkpoint_path: "checkpoints/Vit_CIFAR100.pt"

    student:
        inputs:
            img_size: 224
            patch_size: 16
            in_chans: 3
            num_classes: 100
            embed_dim: 768
            num_heads: 12
            mlp_ratio: 1
            emulate_depth: 12.0
            time_interval: 1.0
            num_eval_steps: 24
            solver: "euler"

        checkpoint_name: "EDO_DISTILLATION_VIT_ON_CIFAR100_Normal_DISTILL"

    base:
        checkpoint_path: "checkpoints/Vit_CIFAR100_first_train_reduced.pt"
