log_wandb: True
infer_from_checkpoint: False

setup:
    dict:
        jasmin: 10
        epochs: 300
        accumulation_steps: 2
        log_every: 10

    wandb:
        project: Koopman
        group: CLASSIFICATION_CIFAR100_EDO
        name: Vit_ODE_CIFAR100_JASMIN_K_P_SIZE_16
data:
    dataset:
        name: "cifar100"
        dataset_path: "/data/users/cboned/cifar"

    collator:
        train:
            shuffle: True
            batch_size: 64
            pin_memory: True
            num_workers: 8
            drop_last: True

        val:
            shuffle: True
            batch_size: 256
            pin_memory: False
            num_workers: 8

        test:
            shuffle: False
            batch_size: 1
            pin_memory: False
            num_workers: 0

modeling:
    type: vit
    inputs:
        img_size: 224
        patch_size: 16
        in_chans: 3
        num_classes: 100
        embed_dim: 768
        num_heads: 12
        mlp_ratio: 2.0
        emulate_depth: 12.0
        time_interval: 1.0
        num_eval_steps: 24
        attn_drop: 0.3
        proj_drop: 0.3
        mlp_drop: 0.3
        l2_attention: False
        add_distillation_token: False
        register_tokens: 10
        pos_embed_register_tokens: False
        solver: "euler"

    checkpoint_name: Vit_ODE_CIFAR100_JASMIN_K_P_SIZE_16
    base: "checkpoints/Vit_CIFAR10_DINO.pt"
